---
import HeaderLink from './HeaderLink.astro';
---

<header class="text-black px-16 py-8 backdrop-blur-md bg-white/[.5] w-full fixed rounded-b-xl border-b-2 border-white">
	<nav class="flex justify-between">
		<h2><a class="font-bold text-xl" href="/">Eloïck.fr</a></h2>
		<div class="flex gap-8">
			<HeaderLink href="/">Home</HeaderLink>
			<HeaderLink href="/blog">Blog</HeaderLink>
		</div>
	</nav>
</header>
